{% extends "partials/dashboard/base-dashboard.html" %}
{% load humanize %}
{% load static %}
{% load custom_template_tags %}

{% block username %}{{ request.user.get_full_name }} {% endblock %}
{% block navbar_image %}{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% endif %}{% endblock %}
{% block content %}
    <div class="container">
        {% include "partials/messages.html" %}
        <div class="row">

            <div class="col-12 col-xl-4">
                <div class="box" id="wallet_box">
                    <div class="box-header with-border">
                        <h4 class="box-title">Wallet</h4>
                    </div>
                    <div class="box-body">
                        <div class="d-flex justify-content-between bb-1 pb-5">
                            <h5 class="text-success">Balance</h5>
                            <h5 class="">{{ wallet.balance|humanize_number }}</h5>
                        </div>
                        <div class="d-flex justify-content-between pb-5 pt-10">
                            <h4>NGR</h4>
                            <h4>NAIRA</h4>
                        </div>
                        <div class="d-flex justify-content-between pb-10">
                            <h4>BAL</h4>
                            <h4>{{ wallet.balance }}</h4>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a href="{% url "payment_view_url" %}" class="btn btn-danger"><i
                                    class="fa fa-arrow-circle-down"></i> DEPOSIT</a>
                            <a type="button" class="btn btn-success mt-0" data-toggle="modal"
                               data-target="#withdrawl-modal"><i class="fa fa-arrow-circle-up"></i>
                                WITHDRAW
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="box box-body pull-up">
                    <div class="d-flex justify-content-between">
                        <div class="p-0">
                            <div class="text-center">
                                <a href="#"><i class="cc XRP mr-5" title="XRP"></i></a>
                            </div>
                            <div>
                                <h3 class="no-margin text-bold">Total</h3>
                                <span>Deposits</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="no-margin font-weight-600"><span
                                        class="text-warning">N{{ wallet.total_deposits|humanize_number }}</span></p>
                                <p class="no-margin">Invested</p>
                            </div>
                            <div class="mt-10">
                                <p class="no-margin font-weight-600"><span class="text-warning">Since</span></p>
                                <p class="no-margin">Inception</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="box box-body pull-up">
                    <div class="d-flex justify-content-between">
                        <div class="p-0">
                            <div class="text-center">
                                <a href="#"><i class="cc XRP mr-5" title="XRP"></i></a>
                            </div>
                            <div>
                                <h3 class="no-margin text-bold">Total</h3>
                                <span>Withdrawn</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="no-margin font-weight-600"><span
                                        class="text-warning"></span>N{{ wallet.total_withrawals|floatformat|intcomma }}</p>
                                <p class="no-margin">Received</p>
                            </div>
                            <div class="mt-10">
                                <p class="no-margin font-weight-600"><span class="text-warning">Since</span></p>
                                <p class="no-margin">Inception</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
            </div>
        </div>


        <div class="row">
            <div class="col-xxl-3 col-lg-12">
                <div class="card card-header-actions mb-5">
                    <div class="card-header">
                        Latest Transactions
                    </div>
                    <div class="card-body">
                        {% for transaction in wallet.latest_transactions %}
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    {% if transaction.transaction_type == "deposit" %}
                                        <i class="fas fa-fw fa-2x fa-arrow-circle-right text-success"></i>
                                    {% else %}
                                        <i class="fas fa-fw fa-2x fa-arrow-circle-left text-danger"></i>
                                    {% endif %}
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    {{ transaction.transaction_type|capfirst }}
                                    <br>
                                    <small>{{ transaction.created_at }}</small>
                                </div>
                                <div class="col-md-3 col-sm-3">{{ transaction.amount|floatformat|intcomma }}</div>

                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                    <a class="card-footer" href="{% url "transactions_all_url" %}">
                        <div class="d-flex align-items-center justify-content-between small text-body">
                            View all transactions
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                 class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--MODAL-->
        <div class="modal fade" id="withdrawl-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to withdraw everything?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                    <div class="modal-body">Select "Withdraw" below if you are ready withrawl all your funds.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form method="POST" action="{% url "wallet_url" %}">
                            {% csrf_token %}
                            <button class="btn btn-success" type="submit">Withdraw</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
