{% extends "authentication/../dashboard/base-auth.html" %}
{% load static %}
{% load socialaccount %}
{% load custom_tags %}
{% load i18n %}

{% block title %}Reset password{%  endblock %}

 {% block content %}
     <div class="row justify-content-center vh-100">

            <div class="col-xl-9 col-lg-11 col-md-8 my-auto">

                <div class="card o-hidden border-0 shadow-lg">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-md-center">
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <img src="{% static "img/logo/paytime_logo.png" %}" style="width: 120px;height: 120px" class="rounded-circle img-thumbnail mb-2" alt="100x100">
                                        </div>
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Password reset done</h1>
                                        <p class="mb-4">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="{{ login_url }}">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

 {% endblock  %}

