{% extends "authentication/../dashboard/base-auth.html" %}
{% load account %}
{% load custom_tags %}
{% load i18n %}

{% block title %}Change password{%  endblock %}

 {% block content %}

      <!-- Outer Row -->
        <div class="row justify-content-center vh-100">

            <div class="col-xl-4 col-lg-4 col-md-4 my-auto">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0 py-5">
                        <!-- Nested Row within Card Body -->
                            <div class="col-lg-12">
                                <div class="p-5">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Change Password 🗝</h1>
                                    </div>
                                    <p class="text-center">Enter the required details to change your password</p>
                                    <form class="user mb-3" method="POST" action="{% url 'account_change_password' %}">
                                        {% csrf_token %}
                                        <div class="align-self-center">
                                            {% include "partials/messages.html" %}
                                        </div>

                                        <div class="form-group">
                                            {% if form.errors|lookup:form.oldpassword %}
                                                {{ form.oldpassword|addcss:"form-control form-control-user is-invalid text-center" }}
                                                <small class="form-text text-danger">{{ form.oldpassword.errors|striptags }}</small>
                                            {% else %}
                                                {{ form.oldpassword|addcss:"form-control form-control-user text-center" }}
                                            {%  endif %}
                                        </div>

                                        <div class="form-group">
                                            {% if form.errors|lookup:form.password1 %}
                                                {{ form.password1|addcss:"form-control form-control-user is-invalid text-center" }}
                                                <small class="form-text text-danger">{{ form.password1.errors|striptags }}</small>
                                            {% else %}
                                                {{ form.password1|addcss:"form-control form-control-user text-center" }}
                                            {%  endif %}
                                        </div>

                                       <div class="form-group">
                                            {% if form.errors|lookup:form.password2 %}
                                                {{ form.password2|addcss:"form-control form-control-user is-invalid text-center" }}
                                                <small class="form-text text-danger">{{ form.password2.errors|striptags }}</small>
                                            {% else %}
                                                {{ form.password2|addcss:"form-control form-control-user text-center" }}
                                            {%  endif %}
                                        </div>
                                         {% if form.non_field_errors%}
                                    <small class="form-text text-danger">{{ form.non_field_errors|striptags }}</small>
                                    {%  endif %}
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Change password
                                        </button>

                                    </form>

                                </div>
                            <a class="text-arrow-icon ml-5" href="{% url "profile_url" %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left ml-0 mr-1"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
                                        Return to Dashboard
                                    </a>
                        <div class="row justify-content-md-center">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

 {% endblock  %}
