{% extends "partials/dashboard/base-dashboard.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <nav class="nav nav-borders">
            <a class="nav-link active ml-0" href="{% url "profile" %}">Profile</a>
            <a class="nav-link ml-0" href="{% url "documents" %}">Documents</a>
            <a class="nav-link ml-0" href="{% url "account_change_password" %}">Change password</a>
        </nav>
        <hr class="mt-0 mb-4">
        {% block row_details %}
            {% endblock %}
    </div>
{% endblock %}
