{% extends "partials/transactions/base-transaction-page.html" %}
{% load humanize %}
{% load static %}

{% block username %}{{ fullname }} {% endblock %}

{% block transaction_options %}
    <p class="text-center">All transactions</p>

    <div class="row flex-row">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">For Package?</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.transaction_type|capfirst }}</td>
                <td>{{ transaction.amount|floatformat|intcomma }}</td>
                <td>{{ transaction.created_at }}</td>
                <td>{{ transaction.status|capfirst }}</td>
                <td>{{ transaction.for_package|capfirst }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
