{% extends "partials/transactions/base-transaction-page.html" %}
{% load static %}

{% block username %}{{ fullname }} {% endblock %}

{% block transaction_options %}
    <p class="text-center">All transactions</p>

    <div class="row flex-row">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Deposit</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Withrawal</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
