{% extends "partials/dashboard/profile/base-profile.html" %}
{% load static %}
{% block username %}{{ fullname }} {% endblock %}

{% block row_details %}
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile Picture Card-->
            <div class="card mb-3">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-2" src="{% static "img/profile-1.png" %}" alt="">

                </div>
            </div>
        </div>
        <div class="col-xl-8">

            <div class="card mb-4">
                <div class="card-header">Profile Details</div>
                <div class="card-body">
                    <form>

                        <!-- Form Row-->
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="small mb-1" for="exampleFormControlSelect1">Document type</label>
                                <select class="form-control form-control-solid" id="exampleFormControlSelect1">
                                    <option>International Passport</option>
                                    <option>Drivers Licence</option>
                                    <option>National Id</option>
                                    <option>Other valid Id</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="button">Save changes</button>
                    </form>
                </div>
            </div>

            <div class="card card-header-actions">
                <div class="card-header">
                    Progress Tracker
                    <br>
                    <small>Document setup will be complete if any of the required documents is uploaded and has been
                        verified by us!</small>
                </div>
                <div class="card-body">
                    <h4 class="small">
                        Add internation passport
                        <span class="float-right font-weight-bold">20%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small">
                        Add driver's licence
                        <span class="float-right font-weight-bold">40%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small">
                        Add National ID card
                        <span class="float-right font-weight-bold">60%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small">
                        Other valid ID
                        <span class="float-right font-weight-bold">80%</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small">
                        Document Setup
                        <span class="float-right font-weight-bold">Complete!</span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <a class="card-footer" href="#!">
                    <div class="d-flex align-items-center justify-content-between small text-body">
                        Visit Task Center
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-arrow-right">
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                            <polyline points="12 5 19 12 12 19"></polyline>
                        </svg>
                    </div>
                </a>
            </div>
        </div>

    </div>
{% endblock %}

