{% extends "authentication/../dashboard/base-auth.html" %}
{% load custom_tags %}

{% block title %}Login{%  endblock %}

 {% block content %}
     <div class="row justify-content-center vh-100">
     <div class="col-xl-10 col-lg-12 col-md-9 my-auto">
      <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post">
                                {% csrf_token %}

                                <div class="form-group row">

                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        {% if form.errors|lookup:form.firstname %}
                                        {{ form.firstname|addcss:"form-control form-control-user is-invalid" }}
                                    <small class="form-text text-danger">{{ form.firstname.errors }}</small>
                                        {% else %}
                                        {{ form.firstname|addcss:"form-control form-control-user" }}
                                    {%  endif %}
                                    </div>

                                    <div class="col-sm-6">
                                       {% if form.errors|lookup:form.lastname %}
                                        {{ form.lastname|addcss:"form-control form-control-user is-invalid" }}
                                    <small class="form-text text-danger">{{ form.lastname.errors }}</small>
                                        {% else %}
                                        {{ form.lastname|addcss:"form-control form-control-user" }}
                                    {%  endif %}
                                    </div>

                                </div>

                                <div class="form-group">
                                    {% if form.errors|lookup:form.email %}
                                        {{ form.email|addcss:"form-control form-control-user is-invalid" }}
                                    <small class="form-text text-danger">{{ form.email.errors }}</small>
                                        {% else %}
                                        {{ form.email|addcss:"form-control form-control-user" }}
                                    {%  endif %}
                                {% if not forms.errors %}
                                <small id="invalid-feedback" style="display: none" class="form-text text-danger"></small>
                                {% endif %}
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                       {% if form.errors|lookup:form.password1 %}
                                        {{ form.password1|addcss:"form-control form-control-user is-invalid" }}
                                    <small class="form-text text-danger">{{ form.password1.errors }}</small>
                                        {% else %}
                                        {{ form.password1|addcss:"form-control form-control-user" }}
                                    {%  endif %}
                                    </div>
                                    <div class="col-sm-6">
                                        {% if form.errors|lookup:form.password2 %}
                                        {{ form.password2|addcss:"form-control form-control-user is-invalid" }}
                                    <small class="form-text text-danger">{{ form.password2.errors }}</small>
                                        {% else %}
                                        {{ form.password2|addcss:"form-control form-control-user" }}
                                    {%  endif %}
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                    Register Account
                                </button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'forgotpwd' %}">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="{% url 'login' %}">Already have an account? Login!</a>
                                {{ form.non_field_errors }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>
 {% endblock  %}
