{% extends "partials/dashboard/base-dashboard.html" %}
{% load humanize %}
{% load custom_tags %}
{% block username %}{{ fullname }} {% endblock %}

{% block content %}
    <div class="container">
        <p>Detail view</p>

        <div class="row">

            <!-- ************* Ripple ************-->
            <div class="col-12 col-lg-4">
                <div class="box box-body pull-up">
                    <div class="d-flex justify-content-between">
                        <div class="p-0">
                            <div class="text-center">
                                <a href="#"><i class="cc XRP mr-5" title="XRP"></i></a>
                            </div>
                            <div>
                                <h3 class="no-margin text-bold">Ovviy</h3>
                                <span>{{ investment.package.name }}</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="no-margin text-bold"><span class="text-warning">Capital</span></p>
                                <p class="no-margin text-bold">N{{ investment.amount|floatformat|intcomma }}</p>
                            </div>
                            <div class="mt-10">
                                <p class="no-margin font-weight-600 text-bold"><span
                                        class="text-warning">Duration</span></p>
                                <p class="no-margin">{{ investment.package.days }} days(wrk)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ************* EOS EXCHANGE ************-->
            <div class="col-12 col-lg-4">
                <div class="box box-body pull-up">
                    <div class="d-flex justify-content-between">
                        <div class="p-0">
                            <div class="text-center">
                                <a href="#"><i class="cc EOS mr-5" title="EOS"></i></a>
                            </div>
                            <div>
                                <h3 class="no-margin text-bold">{{ investment.package.return_on_investmentent }}% ROI</h3>
                                <span>Exchange</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="no-margin font-weight-600 text-bold"><span class="text-success">ROI</span> /
                                    N{{ total_roi|floatformat|intcomma }}
                                </p>
                                <p class="no-margin font-weight-600 text-bold"><span class="text-success">Paid</span> /
                                    N{{ total_roi_paid|floatformat|intcomma }}
                                </p>
                                <p class="no-margin font-weight-600 text-bold"><span class="text-warning">Left</span> /
                                    N{{ total_roi_left|floatformat|intcomma }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <p></p>
                </div>
            </div>


            <!-- ************* LISK ************-->
            <div class="col-12 col-lg-4">
                <div class="box box-body pull-up">
                    <div class="d-flex justify-content-between">
                        <div class="p-0">
                            <div class="text-center">
                                <a href="#"><i class="cc LSK mr-5" title="LSK"></i></a>
                            </div>
                            <div>
                                <h3 class="no-margin text-bold">Next Payment</h3>
                                <span>{{ next_payment_date }}</span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="no-margin font-weight-600"><span class="text-warning"></span>
                                    <br>
                                <p class="no-margin">Sponsored</p>
                            </div>
                            <div class="mt-10">
                                <p class="no-margin font-weight-600 text-bold"><span class="text-warning">Period</span>
                                </p>
                                <p class="no-margin">{{ period }} days left</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="box">
                <div id="popup-messages-content">
                </div>
                <div class="box-header">
                    <h4 class="box-title">
                        ROI Schedule
                    </h4>
                    <br>
                    <small class="text-muted">The maturity date is a proposed date, until the ROI schedule starts
                        processing</small>
                    <br>
                    <small class="text-muted">The last ROI is paid with the capital</small>

                </div>
                <div class="box-body">
                    <div class="table-responsive" id="table-roi-schedule">
                        <table class="table table-borderless mb-0" id="roi-schedule-table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Maturity Date</th>
                                <th>Roi</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for roi_schedule in roi_schedules %}
                                <tr id="id_{{ roi_schedule.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ roi_schedule.maturity_date }}</td>
                                    <td>{{ investment.package.return_on_investmentent }}%</td>
                                    <td>N{{ roi_schedule.roi_amount|floatformat }}</td>
                                    <td>{{ roi_schedule.status }}</td>
                                    {% if roi_schedule.status == "completed" %}
                                        <td>
                                            <button class="btn  btn-success btn-sm" disabled>Transferred to wallet
                                            </button>
                                        </td>
                                    {% elif roi_schedule.status == "transfer" %}
                                        <td>
                                            <button class="btn btn-success btn-sm sbt" value="{{ roi_schedule.id }}"
                                                    id="roi-btn-{{ forloop.counter }}" type="submit">Transfer to wallet
                                            </button>
                                        </td>
                                    {% else %}
                                        <td>
                                            <button class="btn btn-outline-dark btn-sm" disabled>No Action</button>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script>
        //const roiBtn = document.getElementById("roi-btn");
        const roiSchedules = document.getElementById("roi-schedule-table");
        //roiBtn.addEventListener("click", roiTransfer, false)

        roiSchedules.addEventListener("click", roiTransfer)

        function errorMsg(content) {
            const danger = "danger"
            let elMessages = $('#popup-messages-content');
            {#elMessages.append("<div class='text-center alert alert-"+danger+"''>"+content+"</div>");#}
            elMessages.append("<div class='text-center alert-dismissible alert alert-" + danger + "''>" + content + "<button' type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                "                    <span aria-hidden=\"true\">&times;</span></div>");
            elMessages[0].scrollIntoView()
        }

        function roiTransfer(e) {
            e.preventDefault()
            if (e.target && e.target.classList.contains("sbt")) {
                //do something
                let target = e.target;
                fetch(`transfer-to-wallet/${target.value}`, {
                    method: "GET"
                }).then(res => {
                    if (!res.ok) {
                        errorMsg(res.statusText)
                    }
                    return res.json()
                })
                    .then(res => {
                        if (res.hasOwnProperty("idsToUpdate")) {
                            let counter = 1;
                            for (let row of roiSchedules.rows) {

                                // skip the first row is the thead which doesn't have an id
                                if (counter > 1) {
                                    // idsToUpdate is gotting from the endpoint
                                    // idsToUpdate is an array containing the roiSchedule
                                    // table rows to be updated in the UI

                                    // slice id_33 = 33
                                    if (res.idsToUpdate.includes(Number(row.id.slice(3)))) {
                                        console.log("INCLUDES : - ", res.idsToUpdate.includes(Number(row.id.slice(3))))
                                        console.log("SLICED : - ", row.id.slice(3))
                                        console.log("PLAIN : - ", row.id)
                                        console.log("INCLUDES : - ", res.idsToUpdate)


                                        // for of loop evaluates the property values as
                                        // oppose to the the property keys va for-in loop
                                        // https://stackoverflow.com/questions/29285897/what-is-the-difference-between-for-in-and-for-of-statements-in-jav/29286412
                                        for (let cell of row.cells) {
                                            if (cell.innerText === "transfer") {
                                                cell.innerText = "completed"
                                            }
                                            if (cell.children.length > 0 && cell.children[0].nodeName.toLowerCase() === "button") {
                                                if (cell.children[0].innerText === "Transfer to wallet") {
                                                    cell.children[0].innerText = "Transferred to wallet";
                                                    cell.children[0].disabled = true
                                                }
                                            }
                                        }
                                    }
                                }
                                counter += 1;
                            }
                        }
                    })
            }
        }

    </script>
{% endblock %}
