{% extends "partials/dashboard/base-dashboard.html" %}
{% load custom_tags %}

{% block username %}{{ request.user.get_full_name }} {% endblock %}
{% block navbar_image %}{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% endif %}{% endblock %}
{% load humanize %}

{% block content %}
    <div class="container">
        <h2 class="mb-5 text-fade">Start Investment</h2>
        <div class="row">
            <!-- CARD 1-->
            {% for package in packages %}

                <div class="col-lg-4">
                    <div class="box pull-up">
                        {% if package.is_new %}
                            <div class="ribbon">
                                <span>New</span>
                            </div>
                        {% endif %}
                        <div class="box-body text-center">
                            <h4 class="pack text-primary
                            {% if package.level == "silver" %} text-muted{% endif %}
                            {% if package.level == "gold" %} text-warning{% endif %}
                            ">
                                {{ package.name }}
                                <span>minimum {% widthratio package.minimum_amount 1000 1|floatformat %}k</span>
                            </h4>
                            <h5 class="text-uppercase text-primary
                            {% if package.level == "silver" %} text-muted{% endif %}
                            {% if package.level == "gold" %} text-muted{% endif %}"
                            >
                                {{ package.level }}
                            </h5>

                            <hr>
                            <p><strong>{% widthratio package.minimum_amount 1000 1|floatformat %}k Minimum</strong></p>
                            <p><strong>24x7</strong> Support</p>
                            <p><strong>{{ package.days }} Days</strong> Duration</p>
                            <p><strong>ROI</strong> {{ package.return_on_investmentent }}%</p>
                            <p><strong>{{ package.minimum_amount|floatformat|intcomma }} Maximum</strong></p>
                            <a href="{% url "payment_view_url" %}?codename={{ package.codename }}" class="btn btn-primary
                            {% if package.level == "silver" %}btn-dark my-30{% endif %}
                            {% if package.level == "gold" %}btn-warning my-30{% endif %}"
                            >Select plan</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
