{% extends "partials/dashboard/base-dashboard.html" %}
{% load custom_tags %}
{% load humanize %}

{% block username %}{{ request.user.get_full_name }} {% endblock %}
{% block navbar_image %}{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% endif %}{% endblock %}

{% block content %}
    <div class="container">
        <p>Investments</p>
        <div class="row">
            <div class="col-lg-9">
                {% if last_investment %}
                    <div class="row">


                        <!-- ************* ACTIVE INVESTMENT ************-->

                        <div class="col-12 col-lg-12">
                            <div class="box box-body pull-up">
                                <!--Use stretched-link to make the entire card clickable-->
                                <a href="{% url "investment_detail_view_url" id=last_investment.id %}"
                                   class="stretched-link"></a>
                                <div class="d-flex justify-content-between">
                                    <div class="p-0">

                                        <div class="text-center">
                                            <a href="#"><i class="cc XRP mr-5" title="XRP"></i></a>
                                        </div>
                                        <div>
                                            <h3 class="no-margin text-bold">{{ last_investment.package.name|capfirst|truncatechars:12 }}</h3>
                                            <span>{{ last_investment.package.name }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <p class="no-margin font-weight-600"><span
                                                    class="text-warning">Capital</span> /
                                                <strong>N{{ last_investment.amount|floatformat|intcomma }}</strong></p>
                                            <p class="no-margin font-weight-600"><span
                                                    class="text-warning">Interest Paid</span> /
                                                <strong>N{{ last_investment.total_roi_paid|floatformat|intcomma }}</strong></p>
                                            <p class="no-margin font-weight-600"><span class="text-warning">Possible Interest Left</span>
                                                /
                                                <strong>N{{ last_investment.total_roi_left|floatformat|intcomma }}</strong></p>
                                        </div>
                                        <div class="mt-10">
                                            <p class="no-margin font-weight-600"><span
                                                    class="text-warning"><strong>{{ last_investment.package.return_on_investmentent }}% ROI</strong></span>
                                            </p>
                                            <p class="no-margin"><strong>5d working days left</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}


                <!-- Investments-->
                {% if not last_investment %}
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">
                                Active Investment
                            </h4>
                        </div>
                        <div class="box-body text-center">
                            <p class="text-center">You currently do not have an active investment<br> <strong>Make an
                                investment now</strong></p>
                            <a class="btn btn-primary btn-sm" href="{% url "invest_view_url" %}">Start Investment</a>
                        </div>
                    </div>
                {% endif %}
                {% if last_investment %}
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">
                                Investment History
                            </h4>
                            <br>
                            <small class="text-muted">You can have only one active investment</small>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-borderless mb-0">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Created on</th>
                                        <th>Package</th>
                                        <th>Roi</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Detail</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for investment in user_investments %}
                                        <tr>
                                        <td>{{ forloop.counter0|add:user_investments.start_index }}</td>
                                        <td>{{ investment.created_at }}</td>
                                        <td>{{ investment.package.name }}</td>
                                        <td>{{ investment.package.return_on_investmentent }}%</td>
                                        <td>N{{ investment.amount|floatformat|intcomma }}</td>
                                        <td><span class="badge badge-dark">{{ investment.status }}</span></td>
                                        <td>
                                            <a href="{% url "investment_detail_view_url" id=investment.id %}"
                                               class="btn btn-dark btn-sm">view</a>
                                        </td>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}


                {% if user_investments.has_other_pages %}
                        <nav aria-label="...">
                            <ul class="pagination justify-content-center">
                                {% if user_investments.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ user_investments.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link"
                                                                      href="#">Previous</a>
                                    </li>
                                {% endif %}
                                {% for i in user_investments.paginator.page_range %}
                                    {% if user_investments.number == i %}
                                        <li class="page-item active">
                                            <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if user_investments.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ user_investments.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link"
                                                                      href="#">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                {% endif %}

            </div>

            <div class="col-lg-3"></div>

        </div>
    </div>
{% endblock %}
