{% extends "partials/dashboard/base-dashboard.html" %}
{% load custom_tags %}

{% block content %}
    <div class="container">
        <h2 class="mb-5 text-fade">Start Investment</h2>
        <div class="row">
            <!-- CARD 1-->
            <div class="col-lg-4">
                <div class="box pull-up">
                    <div class="ribbon ribbon-two-dark">
                        <span>New</span>
                    </div>
                    <div class="box-body text-center">
                        <h4 class="pack text-primary">
                            Ovviy Short
                            <span>minimum 100k</span>
                        </h4>
                        <h5 class="text-uppercase text-primary">Starter</h5>

                        <hr>
                        <p><strong>100k Minimum</strong></p>
                        <p><strong>24x7</strong> Support</p>
                        <p><strong>3 Months</strong> Duration</p>
                        <p><strong>ROI</strong> 15%</p>
                        <p><strong>50M Maximum</strong></p>
                        <a class="btn btn-primary my-30" href="{% url "payment_view_url" %}?codename=ovviy_min">Select plan</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box pull-up">
                    <div class="box-body text-center">
                        <h4 class="pack text-primary">
                            Ovviy Long
                            <span>minimum 500k</span>
                        </h4>
                        <h5 class="text-uppercase text-primary">Recommended</h5>

                        <hr>
                        <p><strong>500k Minimum</strong></p>
                        <p><strong>24x7</strong> Support</p>
                        <p><strong>6 Months</strong> Duration</p>
                        <p><strong>ROI</strong> 15%</p>
                        <p><strong>50M Maximum</strong></p>
                        <a class="btn btn-primary my-30" href="{% url "payment_view_url" %}?codename=ovviy_long">Select plan</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="box pull-up">
                    <div class="box-body text-center">
                        <h4 class="pack text-success">
                            Ovviy Medium
                            <span>minimum 1M</span>
                        </h4>
                        <h5 class="text-uppercase text-primary">Go</h5>

                        <hr>
                        <p><strong>1 million Minimum</strong></p>
                        <p><strong>24x7</strong> Support</p>
                        <p><strong>9 Months</strong> Duration</p>
                        <p><strong>ROI</strong> 15%</p>
                        <p><strong>50M Maximum</strong></p>
                        <a class="btn btn-primary my-30" href="{% url "payment_view_url" %}?codename=ovviy_mid">Select plan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
