{% extends "partials/dashboard/base-dashboard.html" %}
{% load humanize %}
{% load static %}
{% load custom_tags %}

{% block username %}{{ request.user.get_full_name }} {% endblock %}
{% block navbar_image %}{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}
{% endif %}{% endblock %}

{% block message_center_msgs_badge %}
    {% include "partials/navbar_messages_badge.html" %}
{% endblock %}

{% block message_center_mgs %}
    {% include "partials/navbar_msgs.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mb-5">Payment</h3>
        {% include "partials/messages.html" %}
        <div class="row">
            <div class="col-lg-10">

                <ul class="nav nav-tabs mb-5" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#debit-card" role="tab"
                                            aria-selected="true"><span class="hidden-sm-up"><i
                            class="fa fa-cc"></i></span> <span class="hidden-xs-down">Debit Card</span></a>
                    </li>
                </ul>


                <div class="tab-content tabcontent-border">
                    <div class="tab-pane active" id="debit-card" role="tabpanel">
                        <div class="p-30">
                            <div class="row">
                                <div class="col-lg-7 col-md-6 col-12">
                                    <form class="mb-4" id="paymentForm">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_amount">Amount</label>
                                            <div class="input-group">

                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fa fa-money-bill"></i></span>
                                                </div>
                                                {{ payment_form.amount|addcss:"form-control" }}
                                            </div>
                                        </div>
                                        <small class="form-text text-danger mb-2" id="amount_error"></small>

                                        <div class="form-group">
                                            <label for="package">Package</label>
                                            {{ payment_form.package|addcss:"form-control" }}
                                        </div>
                                        <small class="form-text text-danger mb-2" id="package_error"></small>


                                        <div class="form-check">
                                            {{ payment_form.terms_condition|addcss:"form-check-input" }}
                                            <label class="form-check-label" for="id_terms_condition">
                                                I have read and accepted the
                                            </label>
                                            <span><strong><a href="#exampleModalLong" data-toggle="modal"
                                                             data-target="#exampleModalLong">terms and conditions</a></strong></span>
                                        </div>
                                        <button class="btn btn-success btn-block my-4" {% if request.user.has_active_investment %}disabled{% endif %} type="submit">Make Payment
                                        </button>
                                        <a href="{% url "invest_view_url" %}"
                                           class="mt-4 text-muted text-decoration-none">
                                            <i class="fa fa-arrow-circle-left text-danger"></i>
                                            back to investment packages
                                        </a>
                                    </form>
                                </div>


                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Investment Terms and
                                                    Conditions</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>These terms and conditions (the Terms and Conditions or the
                                                    Agreement) set out the terms of the agreement between you as a
                                                    member of Ovviy and a user of the Platform (You or a
                                                    Member), (OvviyTrade or OVT) and, where
                                                    applicable, an appointed nominee. Together Ovviy Limited and
                                                    the Nominee shall be referred to as “we” and “us”. The Platform
                                                    meaning the website operated by OVT under the trading name
                                                    Ovviy.
                                                </p>
                                                <p>
                                                    The terms and conditions should be read in conjunction with our
                                                    Terms of Website Use (www.ovviytrade.com/terms-of-website-use)
                                                    and our Privacy Statement (www.ovviytrade.com/privacy-statement).
                                                    Use of our Platform is conditional upon your acceptance of these
                                                    terms. If you do not agree to these terms you should immediately
                                                    discontinue use of our Platform.</p>
                                                <p>
                                                    This Agreement will become legally binding once you have
                                                    successfully undertaken the registration process and we have
                                                    received satisfactory money laundering verification information.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-5 col-md-6 col-12">
                                    <h3 class="box-title mt-10">Investment Package</h3>
                                    <h2><i class="fab fa-cc-mastercard text-danger"></i>
                                        <i class="fab fa-cc-visa text-info"></i>
                                        <img src="{% static "img/logo/verve.svg" %}"
                                             style="height: 40px; width: 40px; vertical-align: bottom" alt="">
                                        <span class="text-primary" style="font-size: 20px">interswitch</span>
                                    </h2>
                                    <p><strong>Duration: </strong><span id="duration"></span> working days</p>
                                    <p><strong >ROI: </strong><span id="roi"></span>%</p>
                                    <p><strong>Minimum Investment amount: </strong>N<span id="min-inv"></span></p>
                                    <p><strong>Maximum Investment amount: </strong>N<span id="max-inv"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="paypal" role="tabpanel">
                        <div class="p-30">
                            You can pay your money through paypal, for more info <a href="">click here</a><br><br>
                            <button class="btn btn-info btn-outline"><i class="fa fa-cc-paypal"></i> Pay with Paypal
                            </button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="https://js.paystack.co/v2/popup.js"></script>
    <script>

        const paymentForm = document.getElementById('paymentForm');
        const duration = document.getElementById('duration');
        const roi = document.getElementById('roi');
        const maxInv = document.getElementById('max-inv');
        const minInv = document.getElementById('min-inv');

        paymentForm.addEventListener("submit", payWithPaystack, false);
        packageSelector = addEventListener("change", updatePackageDetails, false)


        function updatePackageDetails(e) {
            const codename = e.target.value;
            if (!codename) return
            fetch(`payment/get-package-details/${e.target.value}`, {
                method: "GET"
            }).then(res => res.json())
            .then(response => {
                console.log(response)
                if (response !== null) {
                    duration.innerText = response.duration;
                    roi.innerText = response.roi;
                    maxInv.innerText = response.maximum_amount;
                    minInv.innerText = response.minimum_amount;
                }
            })
        }

        function payWithPaystack(e) {
            const amount = document.getElementById('id_amount');
            let amount_error = document.getElementById('amount_error');
            let package_error = document.getElementById('package_error');
            const pkg = document.getElementById('id_package');
            const terms_condition = document.getElementById('id_terms_condition').value;
            e.preventDefault();

            // Validate via the django form
            fetch("payment/validate-payment-package-amount", {
                body: JSON.stringify({
                    "amount": amount.value,
                    "package": pkg.value,
                    "terms_condition": terms_condition,
                }),
                method: "POST"
            }).then(res => res.json())
                .then(response => {
                    if (response.hasOwnProperty("success")) {
                        if (response.success === false) {
                            // an error exists
                            throw Error(response.message)
                        }
                    }
                    if (Object.keys(response).length > 0) {
                        if (response.hasOwnProperty("amount")) {
                            amount.classList.add("is-invalid")
                            amount_error.innerHTML = response.amount
                            amount_error.style.display = "block"
                        }
                        if (response.hasOwnProperty("package")) {
                            amount.classList.add("is-invalid")
                            package_error.innerHTML = response.package
                            package_error.style.display = "block"
                        }

                    } else {
                        // begin  implementation
                        amount.classList.remove("is-invalid")
                        amount_error.style.display = "none"
                        pkg.classList.remove("is-invalid")
                        package_error.style.display = "none"
                        const email = "{{ email }}"
                        const firstname = "{{ firstname }}"
                        const lastname = "{{ lastname }}"
                        if (email) {
                            var handler = PaystackPop.setup({
                                // this key is passed via context
                                key: "{{ paystatck_pub_key }}", // Replace with your public key
                                email: email,
                                amount: amount.value * 100,
                                firstname: firstname,
                                lastname: lastname,
                                ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
// label: "Optional string that replaces customer email"

                                // onClose method is called if the user closes the modal without completing payment.
                                onClose: function () {
                                    alert('Window closed. Transaction was not complete');
                                },
                                {#The callback method is fired when the transaction is successful#}
                                callback: function (response) {
                                    if (response.status === "success") {
                                        // verify the payment
                                        fetch("payment/verification", {
                                            body: JSON.stringify({
                                                "amount": amount.value,
                                                "package": pkg.value,
                                                "reference": response.reference
                                            }),
                                            method: "POST"
                                        }).then(res => res.json())
                                            .then(data => {
                                                // Redirect to investments page
                                                window.location.href = data.resolved_url
                                            })
                                    }
                                    const message = 'Payment complete! Reference: ' + response.reference;
                                }
                            });
                            handler.openIframe();
                        } else {
                            alert('all fields are required')
                        }
                    }

                })
            .catch((err) => {
                // Do nothing as it's not expected that the user
                // should be able to make payment in the firstplace
                // if the user has an active investment
                // because the payment button ought to be disabled
                // with the page showing thr error message
                console.log("ERROR CAUGHT ->", err);
            })
        }
    </script>

{% endblock %}
