{% extends 'partials/base-admin-dashboard.html' %}
{% load humanize %}
{% load static %}

{% block content %}

     <div class="container">
     <h2>Messages</h2>

<div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">
                                <div class="result-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="records">Showing: <b>{{ page_obj.start_index }}-{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b> result</div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                </div>
                                <div class="result-body">
                                    <div class="table-responsive">
                                        <table class="table widget-26 table-striped">
                                            <tbody>
                                                {% for message in object_list %}
                                                    <tr>
                                                    <td>
                                                        <div class="widget-26-job-emp-img">
                                                            <img src="{% static "img/logo/ovviy.jpeg" %}" alt="Company" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-title">
                                                            <a href="{% url "admin_inbox_detail" message.pk %}">{% if not message.read %}<strong>{{ message.subject }}</strong>{% else %}{{ message.subject }}{% endif %}</a>
                                                            <p class="m-0"><a href="#" class="employer-name">Admin</a> <span class="text-muted time">{{ message.created_at|naturaltime }}</span></p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-info">
                                                            <p class="type m-0">Ovviy Trade</p>
                                                            <p class="text-muted m-0">in <span class="location">NG</span></p>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-salary">-</div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-category bg-soft-info">
                                                            <i class="indicator bg-info"></i>
                                                            <span>response required</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="widget-26-job-starred">
                                                            <a href="#">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="24"
                                                                    height="24"
                                                                    viewBox="0 0 24 24"
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-width="2"
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    class="feather feather-star starred"
                                                                >
                                                                    <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                                                </svg>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- PAGINATION -->
                {% include "partials/pagination.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
