{% extends 'partials/base-admin-dashboard.html' %}
{% load custom_tags %}
{% load humanize %}


{% block content %}
    <div class="container">
        <h2 class="mb-5 text-fade">Manage Packages</h2>
{% include "partials/messages.html" %}
        <div class="row">
            <!------------------------------PACKAGES------------------>
            <div class="box">
                <div id="popup-messages-content">
                </div>
                <div class="box-header d-flex justify-content-between">
                    <div>
                        <h4 class="box-title">
                            Packages
                        </h4>
                        <br>
                        <small class="text-muted">List of all packages
                        </small>
                        <br>
                    </div>
                    <div>
                        <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#createPackage">Create a
                            package</a>
                    </div>

                </div>
                <div class="box-body">
                    <div class="table-responsive" id="table-roi-schedule">
                        <table class="table table-borderless mb-0" id="roi-schedule-table">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Name</th>
                                <th>Codename</th>
                                <th>Min</th>
                                <th>Max</th>
                                <th>ROI</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for package in packages %}
                                <tr>
                                    <td>{{ forloop.counter0|add:packages.start_index }}</td>
                                    <td>{{ package.name }}</td>
                                    <td>{{ package.codename }}</td>
                                    <td>{{ package.minimum_amount|floatformat|intcomma }}</td>
                                    <td>{{ package.maximum_amount|floatformat|intcomma }}</td>
                                    <td>{{ package.return_on_investmentent }}%</td>
                                    <td>{{ package.active }}</td>
                                    <td><span
                                            class="fa fa-circle {% if package.active %}text-success{% else %}text-dark{% endif %}  mr-15"></span>
                                    </td>
                                    <td><a href="{% url "admin_package_update_view" pk=package.pk %}" class="btn btn-outline-dark">Manage</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include "partials/pagination.html" with page_obj=packages %}
                </div>
            </div>
        </div>


        <!------------------------------ CREATE PACKAGE MODAL---------------------------------->
        <div class="modal fade" id="createPackage" tabindex="-1" role="dialog" aria-labelledby="createPackage"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a package to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="user" method="post" id="newPackageForm">
                            {% csrf_token %}
                            <div class="form-group my-1">
                                    <label class="label" for="id_message">Name</label>
                                    <div class="input-group">
                                        {{ form.name|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="name_error"></small>
                                </div>


                                <div class="form-group my-4">
                                    <label class="label" for="id_message">Min Amount</label>
                                    <div class="input-group">
                                        {{ form.minimum_amount|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="min_error"></small>
                                </div>

                                <div class="form-group my-4">
                                    <label class="label" for="id_message">Max Amount</label>
                                    <div class="input-group">
                                        {{ form.maximum_amount|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="max_error"></small>
                                </div>

                                <div class="form-group my-4">
                                    <label class="label" for="id_message">ROI (in number)%</label>
                                    <div class="input-group">
                                        {{ form.return_on_investmentent|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="roi_error"></small>
                                </div>

                                <div class="form-group my-4">
                                    <label class="label" for="id_message">Days (in number)</label>
                                    <div class="input-group">
                                        {{ form.days|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="days_error"></small>
                                </div>

                                <div class="form-group my-4">
                                    <label class="label" for="id_message">Level</label>
                                    <div class="input-group">
                                        {{ form.level|addcss:"form-control form-control-user" }}
                                    </div>
                                    <small class="form-text text-danger" id="level_error"></small>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg btn-block">Create <i
                                        class="fa fa-arrow-circle-up"></i></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}

    <script>


        const days = document.getElementById("id_days");
        const level = document.getElementById('id_level');
        const roi = document.getElementById('id_return_on_investmentent');
        const name = document.getElementById('id_name');
        const maxAmt = document.getElementById('id_maximum_amount');
        const minAmt = document.getElementById('id_minimum_amount');


        // Errors
        let daysError = document.getElementById('day_error');
        let maxAmtError = document.getElementById('max_error');
        let minAmtError = document.getElementById('min_error');
        let nameError = document.getElementById('name_error');
        const roiError = document.getElementById('roi_error');

        let csrfToken = "{{ csrf_token }}";
        console.log("CROS SITE REF TOKEN ", csrfToken)

        const createPackageForm = document.getElementById("newPackageForm");
        createPackageForm.addEventListener("submit", createPackage)

        function errorMsg(content) {
            const danger = "danger"
            let elMessages = $('#popup-messages-content');
            elMessages.append("<div class='text-center alert-dismissible alert alert-" + danger + "''>" + content + "<button' type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">\n" +
                "                    <span aria-hidden=\"true\">&times;</span></div>");
            elMessages[0].scrollIntoView()
        }

        function setControlError(response, ctrlName, controlErrorElement, ctrlErrorName) {
            if (response.errors.hasOwnProperty(ctrlErrorName)) {
                controlErrorElement.innerHTML = response.errors[ctrlErrorName];
                controlErrorElement.style.display = "block"
                ctrlName.classList.add("is-invalid")
            } else {
                ctrlName.classList.remove("is-invalid")
                // fixes the null is
                // null.style error
                if (controlErrorElement) {
                    controlErrorElement.style.display = "none"
                }
            }
        }

        function createPackage(e) {
            e.preventDefault()
            fetch(`packages`, {
                // pass csrfToken as a header
                // django needs this
                headers: {'X-CSRFToken': csrfToken},

                method: "POST",
                body: JSON.stringify({
                    "return_on_investmentent": roi.value,
                    "name": name.value,
                    "days": days.value,
                    "maximum_amount": maxAmt.value,
                    "minimum_amount": minAmt.value,
                    "level": level.value
                }),
            }).then(res => res.json())
                .then(res => {
                    if (res.success === false) {
                        console.log("STILL GETTING here ** *** ** **")
                        console.log(res)
                        // success -> false
                        if (Object.keys(res.errors).length > 0) {
                            setControlError(res, maxAmt, maxAmtError, "maximum_amount");
                            setControlError(res, minAmt, minAmtError, "minimum_amount");
                            setControlError(res, days, daysError, "days");
                            setControlError(res, roi, roiError, "return_on_investmentent");
                            setControlError(res, name, nameError, "name");
                        }
                    } else {
                        // success -> true
                        // redirect
                        console.log("STILL GETTING here ** *** ** **12")
                        window.location.href = res.resolved_url
                    }
                })
                .catch((err) => {
                    console.log("ERROR ->", err);
                });
        }

    </script>
{% endblock %}
